.clearfix {
    *zoom: 1;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

.starburst {
	display:block;
	width:6em;
	height:6em;
	background:#fe0;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	rotation:-45deg;
	position:relative;
	top:2em;
	left:2em;
	text-align:center;
	text-decoration:none;
	color:#000;
	font-weight:bold;
	font-family:Arial, sans-serif;
}
.starburst span {
	display:block;
	width:6em;
	height:6em;
	background:#fe0;
	-webkit-transform:rotate(22.5deg);
	-moz-transform:rotate(22.5deg);
	rotation:22.5deg;
}


// Scaffolding
@backgroundImage : "../../img/vintage-wallpaper-1.png";
@img : "../../img";
// @bodyColor : #e7ddc0;
@bodyColor : #f1f1f1;

body {
	padding-top: 0 !important;
	background: @bodyColor url(@backgroundImage) repeat 0 0;
}

// Hero Unit
// -------------------------
@heroUnitBackground: @navbarBackground;

.hero-unit {
	background-color: fade(@navbarBackground, 70%);
	overflow: hidden;
	height: 200px;
	padding: 0;
	.l,.m {
		text-align: center;
		padding: 23px 0;
		.m {
			padding: 10px 0;
		}
	}
	.m p{
		font-size: 2.4em;
		line-height: 1.4em;
	}
	.r {
		img {
			height: 200px;
		}
	}
}

// .l,.m,.r { border: 1px solid yellow;}

// Navbar
// -------------------------
@navbarHeight:                    50px;
@navbarBackground:                #426638;
@navbarBackgroundHighlight:       #426638;
@dirtHeight : 134px;
@logoHeight:  106px;
@bannerHeight: 240px;


.banner {
	height: @bannerHeight;
	// background-color: @bodyColor;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E3YmVmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iI2YyZjhmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #a7bef2 0%, #f2f8ff 52%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7bef2), color-stop(52%,#f2f8ff));
	background: -webkit-linear-gradient(top,  #a7bef2 0%,#f2f8ff 52%);
	background: -o-linear-gradient(top,  #a7bef2 0%,#f2f8ff 52%);
	background: -ms-linear-gradient(top,  #a7bef2 0%,#f2f8ff 52%);
	background: linear-gradient(top,  #a7bef2 0%,#f2f8ff 52%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7bef2', endColorstr='#f2f8ff',GradientType=0 );
	margin-bottom: 20px;

	.dirt {
		height: @dirtHeight;
		// background: #a7bef2;
		position: relative;
		top: @logoHeight;
		background: @bodyColor url('@{img}/dirt.png') 0 0 repeat-x;
		text-align: center;
		padding-right: 26px;
		img {
			position: relative;
			top: -@logoHeight;
			width: 640px;
		}
		// background: @bodyColor url('@{img}/dirt.png') 0 @logoHeight repeat-x;
		// background: @bodyColor url('@{img}/dirt.png') 0 @logoHeight repeat-x, url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E3YmVmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iI2YyZjhmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		// background: @bodyColor url('@{img}/dirt.png') 0 @logoHeight repeat-x, -moz-linear-gradient(top,  #a7bef2 0%, #f2f8ff 65%);
		// background: @bodyColor url('@{img}/dirt.png') 0 @logoHeight repeat-x, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7bef2), color-stop(65%,#f2f8ff));
		// background: @bodyColor url('@{img}/dirt.png') 0 @logoHeight repeat-x, -webkit-linear-gradient(top,  #a7bef2 0%,#f2f8ff 65%);
		// background: @bodyColor url('@{img}/dirt.png') 0 @logoHeight repeat-x, -o-linear-gradient(top,  #a7bef2 0%,#f2f8ff 65%);
		// background: @bodyColor url('@{img}/dirt.png') 0 @logoHeight repeat-x, -ms-linear-gradient(top,  #a7bef2 0%,#f2f8ff 65%);
		// background: @bodyColor url('@{img}/dirt.png') 0 @logoHeight repeat-x, linear-gradient(top,  #a7bef2 0%,#f2f8ff 65%);
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7bef2', endColorstr='#f2f8ff',GradientType=0 );

		// background-image: url('@{img}/dirt.png');
		// background-image: url('@{img}/dirt.png'), -webkit-gradient(linear, 0 0, 0 100%, from(#FFF), to(#000));
		// background-image: url('@{img}/dirt.png'), -moz-linear-gradient(#FFF, #000);
		// background-repeat: repeat-x;
		// background-position: 0 @logoHeight;
		// background-size: 276px 134px, 5px 5px;
		// -o-background-size: 276px 134px;
		// -moz-background-size: 276px 134px, 0px 0px;
		// -webkit-background-size: 276px 134px, 10px 0px;

	}
}
